@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.body {
    background: fixed url('../img/background.webp') center/cover no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    color: #434343;
}

.container {
    max-width: 1208px;
    margin: 0 auto;
    position: relative;
}

/* Header */

.header {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
}

.header__wrapper {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 22px;
}

.header__panel,
.header__icons {
    display: flex;
    align-items: center;
}

.header__icons {
    margin-right: 25px;
}

.header__icons__item:nth-child(2) {
    margin: 0 24px 0 27px;
}

.header__panel__login {
    border-left: 1px solid rgba(255, 255, 255, 0.45);
    padding-left: 27px;
    transition: 0.5s;
}

.header__panel__login:hover {
    opacity: 0.59;
}

.header__logo,
.header__panel__login a {
    transition: 0.5s;
}

.header__logo:hover,
.header__panel__login a:hover{
    color: #3CB878;
    opacity: 0.59;
}

.header__icons__item path {
    transition: 0.5s;
}

.header__icons__item:hover path {
    fill: #3CB878;
    opacity: 0.59;
}


/* Main */

.sign-up__centerer {
    height: calc(100vh - 58px);
    min-height: 590px;
}

.sign-up__wrapper {
    width: 444px;
    height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.sign-up__wrapper::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background: #3CB878;
    left: 0px;
    top: 29px;
}

.sign-up__head,
.sign-up__ways {
    width: 322px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sign-up__head {
    margin-bottom: 14px;
}

.sign-up__head__title {
    font-size: 20px;
}

.sign-up__link {
    color: #3CB878;
    transition: 0.5s;
}

.sign-up__link:hover {
    color: #01813F;
    text-decoration: underline;
}

.sign-up__ways {
    margin-bottom: 32px;
}

.sign-up__ways__facebook,
.sign-up__ways__google {
    width: 157px;
    height: 46px;
    background: #DF4A32;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.sign-up__ways__facebook {
    background: #305DB8;
}

.sign-up__ways__facebook:hover {
    background: #022263;
}

.sign-up__ways__google {
    background: #DF4A32;
}

.sign-up__ways__google:hover {
    background: #AB1F09;
}

.sign-up__ways__icon {
    width: 47px;
    text-align: center;
}

.sign-up__ways__name {
    width: 109px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}

.sign-up__ways__name::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 47px;
    height: 28px;
    width: 1px;
    background: #0A162F;
    opacity: 0.1;
}

.sign-up__delimiter {
    font-size: 14px;
    color: #848484;
    position: relative;
    margin-bottom: 12px;
}

.sign-up__delimiter::before,
.sign-up__delimiter::after {
    content: "";
    position: absolute;
    top: 8px;
    height: 1px;
    width: 152px;
    background: #F2F2F2;
}

.sign-up__delimiter::before {
    left: -154px;
}
    
.sign-up__delimiter::after {
    left: 16px;
}

/* Form */

.sign-up__form {
    width: 322px;
    display: flex;
    flex-direction: column;
}

.sign-up__form__input {
    height: 44px;
    margin-bottom: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}

.sign-up__form__input:last-child {
    margin-bottom: 12px;
}

.sign-up__form__input::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.sign-up__form__input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.sign-up__form__chekbox__wrapper {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
}

.sign-up__form__chekbox__wrapper {
    display: flex;
    align-items: center;
}

.sign-up__form__chekbox,
.sign-up__form__checkmark {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.sign-up__form__checkmark {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
  }

.sign-up__form__checkmark:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 14px;
    width: 14px;
    background: url(../img/checked.svg) center/cover no-repeat;
    z-index: 2;
    display: none;
  }

  .sign-up__form__chekbox:checked ~ .sign-up__form__checkmark:after {
    display: block;
  }

  .sign-up__form__btn {
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    transition: 0.5s;
}

.sign-up__form__btn:hover {
    background: #01813F;
}

.sign-up__form__chekbox__link {
    color: #3CB878;
}